.video {
  position: relative;
  padding-bottom: 120px;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    pointer-events: none;
    background-image: url('../img/bg-video.png');
    background-repeat: no-repeat;
    background-position: 50% 0;

    @include max(980) {
      opacity: .6;
      background-image: url('../img/bg-video-01.png'), url('../img/bg-video-02.png');
      background-repeat: no-repeat, no-repeat;
      background-position: 0 0, 0 100%;
    }
  }
}

.video__title {
  font-family: $gilroy-bold;
  font-size: 40px;
  line-height: 35px;
  position: relative;
  margin-bottom: 47px;
  text-align: center;
  color: #1e1e1e;

  @include max(740) {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 35px;
  }
  @include max(550) {
    font-size: 25px;
    margin-bottom: 30px;
  }

  span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -5px;
    margin-left: 15px;
    transform: translateY(10px);
    background-image: url('../img/100.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.video__video {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto 58px;

  @include max(550) {
    margin: 0 auto 40px;
  }
  iframe {
    display: block;
    width: 100%;
    height: 600px;

    @include max(1150) {
      height: 530px;
    }
    @include max(980) {
      height: 450px;
    }
    @include max(740) {
      height: 350px;
    }
    @include max(550) {
      height: 250px;
    }
  }
}

.video__btn {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 300px;
  margin: 0 auto 25px;
}
