//begin banner
.banner
  .container
    .banner__title
      | Подготовься к итоговому сочинению
      =' '
      span за 3 дня
      br
      | на онлайн-концентрате «ЗАЧЕТ»НОЕ ИТОГОВОЕ СОЧИНЕНИЕ»

    span.banner__descr Чтобы попасть на онлайн-концентрат, нажми на кнопку ниже:

    .banner__btn-wrap
      a(href="https://vk.com/app5898182_-188212461#s=523063").btn.banner__btn Хочу получить “зачет”
//end banner