//begin bonus
.bonus
  .container
    .bonus__plus
      img(src="assets/img/plus.svg" alt="picture")
    h2.bonus__title
      |Получи доступ к
      =' '
      span БОНУСАМ
    h3.bonus__subtitle для участников концентрата

    .bonus__list
      //begin bonus__item
      .bonus__item
        .bonus__img
          .bonus__img-circle
            span #1
          img(src="assets/img/bonus-01.png" alt="picture")
        .bonus__text
          span
            strong Чек-лист
            =' '
            | по структуре
            br
            |итогового сочинения
      //end bonus__item

      //begin bonus__item
      .bonus__item
        .bonus__img
          .bonus__img-circle
            span #2
          img(src="assets/img/bonus-02.png" alt="picture")
        .bonus__text
          span
            strong по теме “Он и она”
            br
            | Аргументы, список литературы
      //end bonus__item

      //begin bonus__item
      .bonus__item
        .bonus__img
          .bonus__img-circle
            span #3
          img(src="assets/img/bonus-03.png" alt="picture")
        .bonus__text
          span
            | Аргументы, список литературы по темам
            br
            strong “Добро и зло” и “Надежда и отчаяние”
      //end bonus__item


//end bonus