//begin program
.program
  .program__top-bg
  //begin program__body
  .program__body
    .container
      h2.program__title Что тебя ждет на концентрате?

      //begin program__list
      .program__list.program-list
        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-01.png" alt="picture")
          .program-list__text
            .program-list__numb День 1
            h4.program-list__title Знакомство с итоговым сочинением вместе с Министром просвещения РФ
            span
              strong Что такое итоговое сочинение:
              =' '
              |регламент, требования, структура.
            span
              a(href="https://vk.com/app5898182_-188212461#s=523063").highlight Темы итогового сочинения
              =' '
              strong 2019/2020 гг.
            span
              strong Как получить ЗАЧЕТ на итоговом сочинении?
        //end program-list__row

        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-02.png" alt="picture")
          .program-list__text
            .program-list__numb День 2
            h4.program-list__title
              |«Клише или русские писатели?
              br
              |Поможет все!»
            span
              strong Введение и заключение итогового сочинения:
            span особенности написания, пошаговая инструкция.
            span
              strong Разбор направления
              =' '
              a(href="https://vk.com/app5898182_-188212461#s=523063").highlight «Он и она»:
            span о чем писать, где брать аргументы, практика.
        //end program-list__row

        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-03.png" alt="picture")
          .program-list__text
            .program-list__numb День 3
            h4.program-list__title Разбор двух направлений = 100% результат на итоговом сочинении
            span
              strong Разбор направления
              =' '
              a(href="https://vk.com/app5898182_-188212461#s=523063").highlight «Добро и зло»:
            span о чем писать, где брать аргументы, практика.
            span
              strong Разбор направления
              =' '
              a(href="https://vk.com/app5898182_-188212461#s=523063").highlight «Надежда и отчаяние»:
            span о чем писать, где брать аргументы, практика.
        //end program-list__row
      //end program__list
  //end program__body
//end program
