//begin reviews
.reviews
  .reviews__top-bg
  .reviews__body
    .container
      .reviews__title
        |Отзывы учеников Игоря Оксюморона
        =' '
        span

    //begin reviews__slider
    .reviews__slider.reviews-slider
      .reviews-slider__slide
        img(src="assets/img/review-01.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-02.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-03.jpg" alt="picture")
    //end reviews__slider

    .container
      a(href="https://vk.com/app5898182_-188212461#s=523063").btn.review__btn Записаться на концентрат

//end reviews