//begin teacher
.teacher
  .container
    .teacher__banner.teacher-banner
      span.teacher-banner__subtitle Немного о преподавателе
      h2.teacher-banner__title
        | Концентрат будет вести Игорь
        =' '
        span Оксюморон
      ul.teacher-banner__list
        li.teacher-banner__item
          |выпустила
          =' '
          strong 117 стобалльников в 2019 году
          br
          |(
          strong каждый 10ый стобалльник
          =' '
          |России учился у нас!)
        li.teacher-banner__item
          strong сдал ЕГЭ на 93 в далеком 2012 году
        li.teacher-banner__item учусь на преподавателя русского языка 8-ой год
        li.teacher-banner__item 2 крансых диплома Казанского федерального университета, лучший выпускник КФУ 2017 года
        li.teacher-banner__item стал лучшим студентом России в 2018 году
        li.teacher-banner__item сторонник инновационного образования - «Мы лишаем детей будущего, если продолжаем учить их так, как учили вчера»
        li.teacher-banner__item готовимся к ЕГЭ с песнями, фильмами и мультфильмами
        li.teacher-banner__item верю, что инстаграм может помочь написать сочинение на максимальный балл

    .teacher__pic
//end teacher