//begin test-top
.test-top
  .container
    //begin test-banner
    .test-top__banner.test-banner
      span.test-banner__header
        | Пройди интерактивный тест за
        =' '
        strong 15 минут
        br
        | и узнай, насколько ты готов к
      .test-banner__title-wrap
        h2.test-banner__title
          | итоговому сочинению
          br
          | по русскому языку
      .test-banner__descr
        span В конце теста ты:

      ul.test-banner__list
        li.test-banner__item Узнаешь, насколько ты готов к итоговому сочинению
        li.test-banner__item Выявишь свои слабые стороны
        li.test-banner__item Поймешь, как получить «Зачет» на итоговом сочинении

      a(href="https://vk.com/app5898182_-188212461#s=523063").btn.test-banner__btn
        |Пройти тест
        =' '
        span и узнать, на сколько баллов ты знаешь предмет
    //end test-banner

    //begin test-decor
    .test-decor
      img(src="assets/img/test-list.png" alt="picture")
    //end test-decor
//end test-top