//begin top
.top
  .container
    .top__banner.top-banner
      span.top-banner__header
        |Бесплатный закрытый концентрат
        br
        strong с 22 по 24 ноября
      .top-banner__title-wrap
        h2.top-banner__title
          |Итоговое сочинение
          br
          span по русскому языку
      .top-banner__descr
        | Подготовься к
        =' '
        span итоговому сочинению
        br
        strong за 3 дня
        =' '
        | на онлайн-концентрате
      span.top-banner__upper «зачет»НОЕ ИТОГОВОЕ СОЧИНЕНИЕ»
      span.top-banner__under-descr Чтобы попасть на онлайн-концентрат, нажми на кнопку ниже:

      a(href="https://vk.com/app5898182_-188212461#s=523063").btn.top-banner__btn
        |Хочу получить “зачет”
        =' '
        span на  итоговом сочинении!
//end top