// ***** main colors *******
$brand: #6955c8;
$dark: #1e1e1e;
$highlight: #FE911A;
$highlight-hov: rgba(254, 145, 26, 0.9);

// ***** text colors *******
$text: #1e1e1e;

// ===== fonts =====
$gilroy:            'Gilroy', sans-serif;
$gilroy-bold:       'Gilroy-Bold', sans-serif;
$gilroy-black:      'Gilroy-Black', sans-serif;
$gilroy-blackitalic:'Gilroy-BlackItalic', sans-serif;
